{% extends "core/base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/margin-style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/middle-comment-panel.css' %}">
{% endblock %}

{% block content %}
<div class="margin margin-sm margin-md margin-lg">
    <div class="d-flex align-items-center justify-content-between">
      <h1>Home</h1>
      <button type="button" class="btn btn-outline-primary"><a class="nav-link" href="{% url 'posts:post_create' %}">Add Post <i class="fas fa-plus"></i></a></button>
    </div>
    <div>
        {% for post in posts %}
        {% include 'posts/post_card.html' %}
        {% empty %}
        <p>No posts found.</p>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/posts-script.js' %}"></script>
    <script>
        var getCommentsUrl = "{% url 'posts:get_comments' %}";
    </script>
{% endblock %}