{% extends "core/base.html" %}
{% load static %}

{% block style %}
<style>
    .profile-picture {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }

    .comment-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    display: none;
    z-index: 9999;
    overflow: hidden;
    }

    .comment-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 10000;
    max-height: 80%;
    overflow-y: auto;
    }

    .comments {
    /* Add styling for the comments section */
    }

    .comment-form {
    /* Add styling for the comment form */
    }
    
    .no-scroll {
    overflow: hidden;
    }
</style>
{% endblock %}

{% block content %}
<div style="margin-left: 25%; margin-right: 25%;">
    <div class="d-flex align-items-center justify-content-between">
      <h1>Home</h1>
      <button type="button" class="btn btn-outline-primary"><a class="nav-link" href="{% url 'posts:post_create' %}">Add Post <i class="fas fa-plus"></i></a></button>
    </div>
    <div>
        {% for post in posts %}
        <div class="card mt-3 mb-3">
            <div class="card-body pb-0">
                <div class="">
                    {% with post.author.profile as profile %}
                    <div style="display: flex; align-items: center;">
                        {% if profile.profile_picture %}
                        {% if profile.profile_picture.width == profile.profile_picture.height %}
                        <div style="width: 50px; height: 50px; border-radius: 50%; display: flex; align-items: center; justify-content: center; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);">
                        <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
                        </div>
                        {% else %}
                        <div style="width: 50px; height: 50px; border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);">
                        <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" style="max-width: 100%; max-height: 100%; object-fit: contain;">
                        </div>
                        {% endif %}
                        {% else %}
                        <img src="/media/profile_pictures/default.jpg" alt="Default Picture" style="width: 50px; border-radius: 50%; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);">
                        {% endif %}
                        <h4 style="margin-left: 10px;">{{ post.author.username }}</h4>
                    </div>
                    {% endwith %}
                </div>
                <p class="my-2">{{ post.content }}</p>
                {% if post.image %}
                <img src="{{ post.image.url }}" alt="Post Image" class="w-100">
                {% endif %}
                <p class="mb-2">{{ post.created_at }}</p>
                <p class="mb-2" id="like-count-{{ post.id }}">Total Likes: {{ post.likes.count }}</p>
                <p class="mb-2" id="like-count-{{ post.id }}">Total Comments: {{ post.comments.count }}</p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center pt-0">
                <form class="like-form" data-post-id="{{ post.id }}" action="{% url 'posts:post_like' post.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger">
                        {% if request.user in post.likes.all %}
                        <i class="fas fa-heart"></i> Unlike
                        {% else %}
                        <i class="far fa-heart"></i> Like
                        {% endif %}
                    </button>
                </form>
                <button type="button" class="btn btn-outline-primary comment-button" data-post-id="{{ post.id }}">
                    <i class="far fa-comment"></i> Comment
                </button>
            </div>
            
            <div class="comment-overlay" id="comment-overlay"></div>
            
            <div class="comment-panel" id="comment-panel-{{ post.id }}" style="display: none;">
                <div class="comments">
                    <!-- Display existing comments here -->
                </div>
                <form class="comment-form d-flex justify-content-between align-items-center" data-post-id="{{ post.id }}">
                    {% csrf_token %}
                    <div class="form-group w-100 me-3">
                        <textarea class="form-control" name="comment-content" rows="3" placeholder="Enter your comment"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Post</button>
                </form>
            </div>
        </div>
        {% empty %}
        <p>No posts found.</p>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        $(".like-form").on("submit", function(event) {
            event.preventDefault();
            var form = $(this);
            var postId = form.data("post-id");
            var url = form.attr("action");
            var data = form.serialize();

            $.ajax({
                type: "POST",
                url: url,
                data: data,
                dataType: "json",
                success: function(response) {
                    // Update the like count
                    var likeCountElement = $("#like-count-" + postId);
                    likeCountElement.text("Total Likes: " + response.like_count);

                    // Update the like/unlike button text and icon
                    var likeButton = $(".like-form[data-post-id='" + postId + "'] button");
                    var icon = likeButton.find('i');  // Get the icon element

                    // Check the current class of the icon and change it
                    if (icon.hasClass('fas fa-heart')) {
                        icon.removeClass('fas fa-heart');
                        icon.addClass('far fa-heart');
                        likeButton.text(' Like');
                    } else {
                        icon.removeClass('far fa-heart');
                        icon.addClass('fas fa-heart');
                        likeButton.text(' Unlike');
                    }

                    likeButton.prepend(icon);
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });
    });
    </script>
    <script>
    $(document).ready(function() {
        // Show/hide comment panel
        $('.comment-button').click(function() {
            var postId = $(this).data('post-id');
            var commentPanel = $('#comment-panel-' + postId);
            var commentOverlay = $('#comment-overlay');

            // Make AJAX request to retrieve comments
            $.ajax({
                url: "{% url 'posts:get_comments' %}",
                type: 'GET',
                data: { 'post_id': postId },
                success: function(response) {
                    // Update comments section
                    commentPanel.find('.comments').html(response.comments_html);

                    // Show comment panel and overlay
                    commentOverlay.show();
                    commentPanel.show();
                    // Add CSS class to body element to prevent scrolling of background content
                    $('body').addClass('no-scroll');
                },
                error: function(xhr) {
                    // Handle error
                    console.log(xhr.responseText);
                }
            });
        });

        // Close comment panel when clicking outside of it
        $('#comment-overlay').click(function(event) {
            if (event.target === this) {
                closeCommentPanel();
            }
        });

        // Submit comment form
        $('.comment-form').submit(function(event) {
            event.preventDefault(); // Prevent form submission

            var postId = $(this).data('post-id');
            var commentContent = $(this).find('textarea[name="comment-content"]').val();

            // AJAX request to post comment
            $.ajax({
                url: "{% url 'posts:post_comment' %}",
                type: 'POST',
                data: {
                    'post_id': postId,
                    'content': commentContent,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    // Append new comment to comments section
                    var commentHtml = '<div class="comment">' +
                        '<p>' + response.comment.content + '</p>' +
                        '<p class="comment-info">' + response.comment.created_at + ' by ' + response.comment.user.username + '</p>' +
                        '</div>';
                    $('#comment-panel-' + postId + ' .comments').append(commentHtml);

                    // Clear comment textarea
                    $('#comment-panel-' + postId + ' textarea[name="comment-content"]').val('');
                },
                error: function(xhr) {
                    // Handle error
                    console.log(xhr.responseText);
                }
            });
        });

        // Close comment panel function
        function closeCommentPanel() {
            $('.comment-panel').hide();
            $('#comment-overlay').hide();
            // Remove CSS class from body element to restore scrolling of background content
            $('body').removeClass('no-scroll');
        }
    });
    </script>
{% endblock %}