{% extends 'core/base.html' %}

{% block content %}
  <div style="margin-left: 25%; margin-right: 25%; text-align: center;">
    {% if profile.profile_picture %}
        <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" style="width: 300px; border-radius: 50%;">
    {% else %}
        <img src="/media/profile_pictures/default.jpg" alt="Default Picture" style="width: 300px; border-radius: 50%;">
    {% endif %}
    <h2 style="margin-top: 20px;">{{ profile.user.username }}</h2>
    <p style="margin-top: 10px;">Name: {{ profile.name }}</p>
    <p>Email: {{ profile.email }}</p>
    <p>Bio: {{ profile.bio }}</p>
  </div>

  <div style="margin-left: 10%; margin-right: 10%; text-align: center;">
    <button type="button" class="btn btn-outline-primary"><a class="nav-link" href="{% url 'user_auth:logout' %}">Change Profile</a></button>
    <button type="button" class="btn btn-outline-primary"><a class="nav-link" href="{% url 'user_auth:logout' %}">Modify Info</a></button>
    <button type="button" class="btn btn-outline-primary"><a class="nav-link" href="{% url 'user_auth:logout' %}">Change Password</a></button>
    <button type="button" class="btn btn-outline-danger"><a class="nav-link" href="{% url 'user_auth:logout' %}" onclick="confirmLogout()">Log Out</a></button>
  </div>
{% endblock %}

{% block script %}
<script>
  function confirmLogout() {
    if (confirm('Are you sure you want to logout?')) {
      window.location.href = "{% url 'user_auth:logout' %}";
    }
  }
</script>  
{% endblock %}