{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
    <!-- Other head elements -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body style="padding-top: 120px;">
  <main class="container">
      <div class="row">
          <div class="col-md-6 d-flex align-items-center justify-content-center">
              <img src="{% static 'images/logo.png' %}" alt="App Logo" style="max-width: 100%; height: auto;">
          </div>
          <div class="col-md-6">
              <div class="card" style="margin: 0 auto;">
                  <div class="card-body">
                      <h2 class="card-title">Login</h2>
                      <form method="post">
                          {% csrf_token %}
                          {{ form|crispy }}
                          <button type="submit" class="btn btn-outline-primary">Login</button>
                      </form>
                  </div>
              </div>
              <p class="text-center mt-3">Don't have an account? <a href="{% url 'user_auth:register' %}">Register</a>.</p>
          </div>
      </div>
  </main>
</body>
</html>